/* Nesting A */

a {
  color: blue;
  &:hover {
    color: green;
  }
}

/* Nesting B */

.feature {
  background-color: black;
  a {
    color: cyan;
    &:hover {
      color: lime;
    }
  }
}

/* Variables */

$primary-color: blue;
$secondary-color: green;
a {
  color: $primary-color;
  &:hover {
    color: $secondary-color;
  }
}

/* Operators */

article {
  float: left;
  width: 600px / 960px * 100%;
}

/* Partials */

/* _reset.scss */
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td {
  margin: 0;
  padding: 0;
}

/* Import */

/*@import ‘reset’;*/
$primary-color: green;
$secondary-color: red;
section {
  color: $primary-color;
  p {
    color: $secondary-color;
  }
}

/* Mixin */

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  -o-border-radius: $radius;
  border-radius: $radius;
}

.feature { 
  @include border-radius(10px);
}

/* Placeholders */

%message {
  border: 1px solid gray;
  padding: 10px;
  color: #333;
}

.success {
 border-color: green;
}

/* Extend */

%message {
  border: 1px solid gray;
  padding: 10px;
  color: #333;
}

.success {
  @extend %message;
  border-color: green;
}

.error {
  @extend %message;
  border-color: red;
}

.warning {
  @extend %message;
  border-color: yellow;
}